@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

/* font  */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

.body_font{
    font-family:"Inter";
}